.yourcart{
  color: #BA3B1A;
}

.botoncart{
  background-color: #BA3B1A;
  color: white;
  border: #BA3B1A;
}

.botoncart:hover {
  background-color: #BA3B1A; 
  color: white; 
}

.stickycart{
  position: fixed;
  border: 1px solid black;
  padding: 30px;
}